.hiClass {
    padding-top: 2%;
    margin-top: -16px;
    text-align: center;
    background-color: rgb(23, 23, 36);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 500%;
    width: 100%;
    font-weight: 900;
}
.typed {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typing;
  animation-duration: 3s ;
  animation-timing-function: steps(30, end);
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  }
@keyframes typing {
    from { width: 00% }
    to { width: 110% }
  }
.hiclass2 {
    color: aqua;
}
.txt{
    color: rgba(255, 255, 255, 0.577);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 200;
    word-spacing: 5px;
    letter-spacing: 2px;
    padding-top: 2%;
}
.ntxt{
    padding-top: 6%;
    font-size: 50px;
    font-weight: bolder;
    color: white;
}
